.tablecss{
    text-align: center;
    
}

.TableButton{
    
    background-color:#3c3c3c;
	padding:10px;
	position:relative;
	font-family: 'Lobster', cursive;
	font-size:12px;
	text-decoration:none;
    color:#fff;
    /*預設由上而下漸層*/
	background: linear-gradient(bottom, #3c3c3c 	#bebebe );
	background: -o-linear-gradient( 	#3c3c3c 	#bebebe );
	background: -moz-linear-gradient(#3c3c3c 	#bebebe );
	background: -webkit-linear-gradient( #3c3c3c  	#bebebe );
	background: -ms-linear-gradient( #3c3c3c  	#bebebe);
	background: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #3c3c3c),
	color-stop(1,	#bebebe)
	);
    
    /*box-shadow:x y blur spread color inset*/
    /*前面加入inset 可以變成內陰影 可呈現凹入的可呈現凹入的視覺*/
	-webkit-box-shadow: inset 0px 1px 0px 2px #4f4f4f, 0px 6px 0px 	#5b5b5b;
	-moz-box-shadow: inset 0px 1px 0px 2px #4f4f4f, 0px 6px 0px 	#5b5b5b;
	-o-box-shadow: inset 0px 1px 0px 2px #4f4f4f, 0px 6px 0px 	#5b5b5b;
	box-shadow: inset 0px 1px 0px 2px #4f4f4f, 0px 6px 0px 	#5b5b5b;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
   
    
}

.title{
    background-color: rgb(190,190,190);
    color: white;
    font-size: 20px;
    font-family: 'Lobster', cursive;
   
}

.ID{
    width: 50px;
   
}
.Name{
    width: 150px;
   
}

.Delete{

    width: 70px;
}

.Edit{
   
    width: 200px;
   

}
.body{
    margin:100px;
}

.deletebtn{
	color: white;
	background: rgb(157,157,157);
	box-shadow: rgb(79,79,79) 3px 3px 3px;
	border-radius: 5px;
}

.editbtn{
	   color:white;
       background:#7b7b7b;
       box-Shadow:3px 3px 3px #4f4f4f;
       border-Radius:10px;
}


.savebtn{
	        width:50px;
            height:20px;
            color:white;
            background:#eac100;
            border-Radius:5px;
            box-Shadow:3px 3px 3px #bebebe;
   
}

.cancelbtn{
           color:white;
           background:#ff5809;
           width:70px;
           height:20px;
           border-Radius:70%;
           margin-Left:10px;
}
